/* reportComponent's private CSS styles */
.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.details {
  background-color: white;
  width: 100%;
  height: -webkit-fill-available;
  text-align: center;
  color: black;

  border-left-style: solid;
  border-left-width: thick;
  border-left-color: black(216, 208, 208);

  border-top-style: solid;
  border-top-width: thick;
  border-top-color: black;
}

.report {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  background-color: white;
  height: -webkit-fill-available;

  border-top-style: solid;
  border-top-width: thick;
  border-top-color: black;
}
.report li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  /* margin: .5em; */
  margin-top: 1em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.report li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.report li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.report .text {
  /* position: relative; */
  /* top: -15px; */
  margin-right: .8em;
  padding: 0.8em 0.7em  0.7em 0.7em;
}

.reportsMain {
  display: flex;
  flex-wrap: nowrap;
}

.print {
  position: relative;
  left: -150px;
  top: 50px;
  color: white;
}
