#options {
  position: absolute;
  /* background-color: rgb(201, 196, 190); */
  color: black;
  width: 12rem;
  height: 4.5rem;
  background-color: #f4f4f4;
  color: #333;
  border: 1px solid #aaa;
  box-shadow: 2px 2px 2px #999;
  border-radius: 0.2rem;
  list-style: none;
  /* position: fixed; */
}

.ind:hover {
  background-color: rgb(161, 189, 231);
  color: rgb(102, 17, 17);
}

.ind2:hover {
  background-color: rgb(161, 189, 231);
  color:black;
}

.ind {
  height: 50px;
  width: 80px;
}

.thezone {
  background-color: bisque;
  color: black;
}

